extends layout

block content
  form(method="post", action="/datasets")
    div
      h5 名前
      input(type="text" name="datasetName")
    div
      h5 年代
      textarea(name="uAge")
    div
      h5 検討ワクチン
      textarea(name="uVac")
    div
      h5 候補日程 (改行して複数入力してください)
      textarea(name="candidates")
    div
      h5 メモ
      textarea(name="memo")
    button(type="submit") データセットをつくる